# Vector DB
chroma_db/

# SQLite temporary files
*.db-shm
*.db-wal

# Data files
data/*.pdf
data/*.txt

# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
testenv/

chat_sessions.db
extraction_log.txt


*.xlsx
*.pdf
# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
